name: Generar BuloRadar

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Instalar dependencias
        run: |
          pip install feedparser numpy scikit-learn sentence-transformers

      - name: Ejecutar script
        run: python generar_buloradar.py

      - name: Commit index generado
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add index.html
          git commit -m "Auto update BuloRadar" || echo "No changes"
          git push
